@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*:not(.montserrat) {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  
}

.montserrat{
  font-family: "Montserrat", monospace !important;
  font-optical-sizing: auto  !important;
  font-style: normal  !important;
}

@layer base {
  :root {
    --background: 266 56% 99%;
    --foreground: 266 60% 0%;
    --muted: 266 38% 85%;
    --muted-foreground: 266 15% 38%;
    --popover: 266 56% 99%;
    --popover-foreground: 266 60% 0%;
    --card: 266 56% 98%;
    --card-foreground: 0 0% 0%;
    --border: 266 6% 89%;
    --input: 266 6% 89%;
    --primary: 266 74% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 266 19% 92%;
    --secondary-foreground: 266 19% 32%;
    --accent: 266 29% 85%;
    --accent-foreground: 266 29% 25%;
    --destructive: 8 98% 20%;
    --destructive-foreground: 8 98% 80%;
    --ring: 266 74% 47%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 266 56% 3%;
    --foreground: 266 35% 97%;
    --muted: 266 38% 15%;
    --muted-foreground: 266 15% 62%;
    --popover: 266 56% 3%;
    --popover-foreground: 266 35% 97%;
    --card: 266 56% 4%;
    --card-foreground: 266 35% 98%;
    --border: 266 6% 14%;
    --input: 266 6% 14%;
    --primary: 266 74% 47%;
    --primary-foreground: 0 0% 100%;
    --secondary: 266 11% 8%;
    --secondary-foreground: 266 11% 68%;
    --accent: 266 19% 14%;
    --accent-foreground: 266 19% 74%;
    --destructive: 8 98% 50%;
    --destructive-foreground: 0 0% 100%;
    --ring: 266 74% 47%;
  }
}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground overflow-x-hidden;
  }
}


.SMN_effect-31 a {
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  padding: 0;
}

.SMN_effect-31 a span {
  display: block;
  -webkit-transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55), -webkit-transform 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.SMN_effect-31 a:after {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  content: attr(data-hover);
  display: inline;
  text-align: center;
  -webkit-transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: top 500ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  color: var(hsl(--primary));

}

.SMN_effect-31 a:hover {
  color: var(hsl(--primary));
}

.SMN_effect-31 a:hover span {
  color: var(hsl(--primary));
  -webkit-transform: translateY(-200%);
  transform: translateY(-200%);
}

.SMN_effect-31 a:hover:after {
  top: 30%;
 
}

.SMN_effect-31 a:active {
  -webkit-animation-name: rubberBand;
  animation-name: rubberBand;
  @apply font-semibold
}



.slide-top {
  animation: slide-top 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@keyframes slide-top {
  0% {
    transform: translateY(0) scale(0);
  }

  100% {
    transform: translateY(-60px) scale(1);
  }
}




::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  @apply bg-neutral-900;
}

::-webkit-scrollbar {
  width: 5px;
  @apply bg-neutral-900 ;
}

::-webkit-scrollbar-thumb {
  @apply bg-primary rounded-2xl;
  
}
.ticker-wrap {
  width: 100%;
  height: 80px;
  margin: 0 auto;
  overflow: hidden;
  white-space: nowrap;
  bottom: 0;
  height: 3.5rem;
}
.ticker {
  display: inline-block;
  animation: marquee 70s linear infinite;
}
.item-collection-1 {
  position: relative;
  left: 0%;
  animation: swap 70s linear infinite;
}

.item {
  display: inline-block;
  padding: 0 1rem;
  font-size:1.875rem;
  font-family: sans-serif;
}

/* Transition */
@keyframes marquee {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(-100%)
  }
}

@keyframes swap {
  0%, 50% {
    left: 0%;
  }
  50.01%,
  100% {
    left: 100%;
  }
}